
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos - Adicionar</title>
    <style>
        h1{
            text-align: center;
        }
        a {
            text-decoration: none;
        }
        li {
           
             display: inline;
             margin: 100px;
             border-color: darkviolet;
             border-left: black;
             border-right: black;
             padding-top: 10px;
             padding-bottom:10px ;
             background-color: lightpink;
        
        }
        li:hover
        {
            background-color: aqua;
        }
        li a{
            display:inline-block;
            padding: 10px;
        }
        table{
            margin-top: 10px;
            border-collapse: collapse;
            border-style:solid black 1px;
        }
        th,td{
            padding: 5px;
            border: solid black 1px;
        }


    </style>
</head>
<body>

    <h1>cadastro de Alunos</h1>
    <ul>
        <li>
            <a href="/add">adicionar</a>
        </li>
        <li>
            <a href="/">listar</a>
        </li>

    </ul>
    <hr>