<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2> EDITANDO ALUNOS</h2>
    <form method="POST">
        Id:<input type="text" name="id" readonly></br>
        Nome: <input type="text"  name="nome" placeholder="Nome" value=" <%=req.body.nome%>"></br>
        Endereço: <input type="text" name="endereco" placeholder="endereco" value=" <%=req.body.endereco%>" ></br>
        Telefone: <input type="text" name="telefone" placeholder="telefone" value=" <%=req.body.telefone%>" >
        <input type="submit">
    </form>
</body>
</html>